### 연관분석
- mlxtend : http://rasbt.github.io/mlxtend/user_guide/frequent_patterns/association_rules/

In [5]:
# !pip install mlxtend

In [7]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

In [8]:
dataset=[['사과','치즈','생수'],
        ['생수','호두','치즈','고등어'],
        ['수박','사과','생수'],
        ['생수','호두','치즈','옥수수']]

In [16]:
tren = TransactionEncoder()
tren_ary = tren.fit(dataset).transform(dataset)
print(tren.columns_)
print(tren_ary)

['고등어', '사과', '생수', '수박', '옥수수', '치즈', '호두']
[[False  True  True False False  True False]
 [ True False  True False False  True  True]
 [False  True  True  True False False False]
 [False False  True False  True  True  True]]

In [19]:
df1 = pd.DataFrame(tren_ary, columns = tren.columns_)
df1

     고등어     사과    생수     수박    옥수수     치즈     호두
0  False   True  True  False  False   True  False
1   True  False  True  False  False   True   True
2  False   True  True   True  False  False  False
3  False  False  True  False   True   True   True

###  apriori
- 지지도를 계산해 주는 모듈
- tren.columns_ : ['고등어', '사과', '생수', '수박', '옥수수', '치즈', '호두']
- min_support : 최소 지지도(전체의 입력 값)
- itemsets 토픽 표현 : use_colnames = True

### apply() 참조
-lambda x : len(x)
- def aa(x):
    - return len(x)
- pandas에서 DataFrame 구조에서 map과 같은 역할을 함

In [40]:
fre_items = apriori(df1, min_support = 0.3, use_colnames = True)
fre_items['length'] = fre_items['itemsets'].apply(lambda x:len(x))
# fre_items

In [42]:
fre_items1 = fre_items[(fre_items['length']>=2)
                      &(fre_items['support']>=0.3)
                     ].sort_values(by='support', ascending=False)
# fre_items1

In [43]:
fre_items = apriori(df1, min_support = 0.3, use_colnames = True)
from mlxtend.frequent_patterns import association_rules
association_rules(fre_items, metric="confidence", min_threshold=0.3)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(생수),(사과),1.00,0.50,0.50,0.500000,1.000000,0.000,1.0
1,(사과),(생수),0.50,1.00,0.50,1.000000,1.000000,0.000,inf
2,(생수),(치즈),1.00,0.75,0.75,0.750000,1.000000,0.000,1.0
3,(치즈),(생수),0.75,1.00,0.75,1.000000,1.000000,0.000,inf
4,(호두),(생수),0.50,1.00,0.50,1.000000,1.000000,0.000,inf
5,(생수),(호두),1.00,0.50,0.50,0.500000,1.000000,0.000,1.0
6,(호두),(치즈),0.50,0.75,0.50,1.000000,1.333333,0.125,inf
7,(치즈),(호두),0.75,0.50,0.50,0.666667,1.333333,0.125,1.5
8,"(호두, 생수)",(치즈),0.50,0.75,0.50,1.000000,1.333333,0.125,inf
9,"(호두, 치즈)",(생수),0.50,1.00,0.50,1.000000,1.000000,0.000,inf
10,"(생수, 치즈)",(호두),0.75,0.50,0.50,0.666667,1.333333,0.125,1.5
11,(호두),"(생수, 치즈)",0.50,0.75,0.50,1.000000,1.333333,0.125,inf
12,(생수),"(호두, 치즈)",1.00,0.50,0.50,0.500000,1.000000,0.000,1.0
13,(치즈),"(호두, 생수)",0.75,0.50,0.50,0.666667,1.333333,0.125,1.5

In [44]:
association_rules(fre_items, metric="lift", min_threshold=1.3)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(호두),(치즈),0.50,0.75,0.5,1.000000,1.333333,0.125,inf
1,(치즈),(호두),0.75,0.50,0.5,0.666667,1.333333,0.125,1.5
2,"(호두, 생수)",(치즈),0.50,0.75,0.5,1.000000,1.333333,0.125,inf
3,"(생수, 치즈)",(호두),0.75,0.50,0.5,0.666667,1.333333,0.125,1.5
4,(호두),"(생수, 치즈)",0.50,0.75,0.5,1.000000,1.333333,0.125,inf
5,(치즈),"(호두, 생수)",0.75,0.50,0.5,0.666667,1.333333,0.125,1.5