In [19]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
import matplotlib.pyplot as plt
import datetime
from tqdm import tqdm

In [20]:
def url_parser(sDate, eDate, row = 10):
    key = 'zEFO7vnEr%2B2Hu8fWds8Xjb5nL6L3K4aOYNDrnV7SIC7hze757HLrk5IZs694GFsWnj6f7J2vHOJgTFUa%2BHVhww%3D%3D'
    
    url = 'http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19SidoInfStateJson?serviceKey=' + key
    url = url + '&pageNo=1&numOfRows=' + str(row)
    url = url + '&startCreateDt=' + str(sDate)
    url = url + '&endCreateDt=' + str(eDate)
    
    xml_soup = requests.get(url)
    if xml_soup.status_code != 200:
        print('API 연결 오류')
        exit()
    
    soup = bs(xml_soup.text , 'html.parser')
    
    return soup

In [54]:
def covid_info(soup):
    items=soup.find_all('item')
    
    covid_list=[]
    for item in tqdm(items, desc = '진행률'):
        stdDay=item.find('stdday').get_text()        # 기준일
        stdDay=stdDay.replace("년 ","").replace("월 ","")
        stdDay=stdDay[0:8]
        gubun=item.find('gubun').get_text()          # 지역명
        incDec=item.find('incdec').get_text()        # 당일 확진자
        defCnt=item.find('defcnt').get_text()        # 누적 확진자
        localCnt=item.find('localocccnt').get_text() # 지역
        overCnt=item.find('overflowcnt').get_text()  # 해외
        
        covid_list.append([stdDay, gubun, incDec, localCnt, overCnt, defCnt])
        
    df1=pd.DataFrame(covid_list, columns=['기준일', '지역명', '당일', '지역', '해외', '누적'])
   
        
    return df1

In [60]:
sDate = '20210101'
eDate = datetime.datetime.today().strftime('%Y%m%d')

soup = url_parser(sDate, eDate, row = 10)
row = soup.find('totalcount').text
soup = url_parser(sDate, eDate, row)
df1=covid_info(soup)

진행률: 100%|████████████████████████████████████████████████████████████████████| 3705/3705 [00:01<00:00, 2707.80it/s]

In [51]:
#import datetime

#datetime.datetime.strptime('2021년 07월 14일 00시', '%Y년 %m월 %d일 00시').strftime('%Y%m%d')

In [61]:
df1['기준일'] = pd.to_datetime(df1['기준일'])

In [62]:
df1

            기준일 지역명    당일    지역  해외     누적
0    2021-07-14  검역    19     0  19   4593
1    2021-07-14  제주    21    21   0   1433
2    2021-07-14  경남    89    87   2   5661
3    2021-07-14  경북    22    19   3   5085
4    2021-07-14  전남     6     6   0   1744
...         ...  ..   ...   ...  ..    ...
3700 2021-01-01  인천    65    63   2   2904
3701 2021-01-01  대구    43    43   0   7844
3702 2021-01-01  부산    57    55   2   1925
3703 2021-01-01  서울   358   357   1  19362
3704 2021-01-01  합계  1027  1002  25  61754

[3705 rows x 6 columns]

In [63]:
df1[df1['기준일']=='2021-07-14	']

          기준일 지역명    당일    지역  해외      누적
0  2021-07-14  검역    19     0  19    4593
1  2021-07-14  제주    21    21   0    1433
2  2021-07-14  경남    89    87   2    5661
3  2021-07-14  경북    22    19   3    5085
4  2021-07-14  전남     6     6   0    1744
5  2021-07-14  전북     9     9   0    2463
6  2021-07-14  충남    36    36   0    4218
7  2021-07-14  충북    10     9   1    3416
8  2021-07-14  강원    16    15   1    3770
9  2021-07-14  경기   465   453  12   48636
10 2021-07-14  세종     6     6   0     617
11 2021-07-14  울산    11    11   0    2959
12 2021-07-14  대전    41    41   0    3046
13 2021-07-14  광주    15    15   0    3062
14 2021-07-14  인천    96    93   3    7495
15 2021-07-14  대구    52    52   0   10850
16 2021-07-14  부산    63    62   1    6810
17 2021-07-14  서울   638   633   5   56053
18 2021-07-14  합계  1615  1568  47  171911